### Zabbix Server configuration ###

DBHost=zabbix-db
DBName=zabbix
DBUser=zabbix
DBPassword=zabbix
SNMPTrapperFile=/var/log/snmptrap/snmptrap.log

LogFile=/var/log/zabbix/zabbix_server.log
LogFileSize=0

PidFile=/var/run/zabbix/zabbix_server.pid

DBSocket=/var/run/postgresql/.s.PGSQL.5432

Timeout=4

AlertScriptsPath=/usr/lib/zabbix/alertscripts
ExternalScripts=/usr/lib/zabbix/externalscripts

FpingLocation=/usr/sbin/fping

LogSlowQueries=3000

StartPollers=10
StartPingers=1
StartDiscoverers=1
